.middle{
  position: relative;
  top: 10%;
  transform: translateY(-50%);
  width: 100vw;
  text-align: center;
}
.btn{
  display: inline-block;
  width: 60px;
  height: 60px;
  background: rgba(255, 255, 255, 0.05);
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #ffffff70;
  color: #ffffff;
  overflow: hidden;
  position: relative;
}
.btn i{
  line-height: 60px;
  font-size: 26px;
  transition: 0.2s linear;
}
.btn:hover i{
  transform: scale(2);
  color: #4dc384;
}
.btn::before{
  content: "";
  position: absolute;
  width: 150%;
  height: 130%;
  background: hsla(0, 0%, 100%, 0.1);
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
.btn:hover::before{
  animation: aaa 0.5s 1;
  top: -10%;
  left: -10%;
}
@keyframes aaa {
  0%{
    left: -150%;
    top: -90%;
  }50%{
    left: 10%;
    top: -30%;
  }100%{
    top: -10%;
    left: -10%;
  }
}